.idea/freeInvoice.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/material_theme_project_new.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/main.cpython-311.pyc
api/__pycache__/protocol.cpython-311.pyc
api/database/__pycache__/users.cpython-311.pyc
instance/db.db
instance/db.db
client/config/env.js
client/config
.idea/modules.xml
.idea/modules.xml
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_02_02_2025_15_43__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_02_02_2025_15_43_\[Changes]/shelved.patch
client/scripts/start.js
client/scripts/build.js
client/scripts/test.js
.idea/shelf/Uncommitted_changes_before_Update_at_08_02_2025_16_27__Changes_1.xml
__pycache__/main.cpython-312.pyc
client/package-lock.json
